<ul>
    <button>
        <i class="fas fa-search"></i>
        <label>Pesquisa</label>
    </button> 
</ul>
<ul>
    <button>
        <i class="fas fa-castle" id="posts"></i>
        <label for="posts">Tormenta 20</label>
    </button> 
</ul>
<ul>
    <button><i class="fas fa-user"></i></button> Jogadores
</ul>
<ul>
    <button><i class="fas fa-users"></i></button> Grupo
</ul>
<ul>
    <button><i class="fas fa-link"></i></button> Não jogável (NPC)
</ul>
<ul>
    <button><i class="fas fa-swords"></i></button> Ameaças
</ul>
<ul>
    <button><i class="fas fa-book"></i></button> História
</ul>
<ul>
    <button><i class="fas fa-cog"></i></button> Config
</ul>